input[type='submit'], button, [aria-label]{
    cursor: pointer;
}

#spoiler{
    display: none;
}

 
.my-row {
}

.my-col {
}

p {
    font-weight:bold;
}

th, td {
    text-align:center;
}

@media (max-width:500px) {
    .my-row {
    }

    .my-col {
    }
}

@media (orientation: landscape) and (max-width:500px) {
    body {
	}
}
